{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": ["skype"],
  "env": {
    "jasmine": true
  },

  "rules": {
    "no-console": ["error", { "allow": ["error", "warn"] }]
  }
}