{
  "parserOptions": {
    "project": [
      "./tsconfig.json",
      "./tsconfig.test.json"
    ]
  },
  "extends": ["skype"],
  "env": {
    "jasmine": true
  },

  "rules": {
    "no-console": ["error", { "allow": ["error", "warn"] }],
    "prefer-const": "off",
    "@typescript-eslint/no-floating-promises": "off",
    "dot-notation": "off",
    "arrow-body-style": "off"
  }
}