language: node_js

node_js:
  - "node"

dist: trusty

sudo: false

addons:
  chrome: stable

install:
  - npm --version
  - npm i

script:
  - npm run type-check
  - npm run test
  - npm run build
  - npm run size

cache:
  directories:
    - node_modules
